.bradcrumb {
    font-size: 14px;
    color: #33333365;
    margin-bottom: 32px;
    opacity: 0.65;
    display: block;
    transition: all 0.3s;
    text-decoration: none;
  
    &:hover {
      color: #333333;
    }
  }