  
  .filter-price{

    &__range{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

&__start{
    font-size: 12px;
}

&__end{
  font-size: 12px;
} 

&__slider {
    background: linear-gradient(
      to right,
      #333333 0%,
      #333333 50%,
      #e3e3e3 50%,
      #e3e3e3 100%
    );
    cursor: pointer;
    margin-bottom: 25px;
    border-radius: 8px;
    height: 7px;
    width: 100%;
    outline: none;
    -webkit-appearance: none;

    input[type='range']::-webkit-slider-thumb {
      width: 12px;
      -webkit-appearance: none;
      height: 12px;
      background: #333333;
      border-radius: 8px;
    }
  
  }
  }
  
 

